

body{background-color: black;
     }
     h1 {color: hotpink;
         }
     .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fe68b4;
    background-color: #cdbacc;}

    .nav-link {color: black;
        font-weight: bold;
        background-color: grey;
        padding: 25px;}


    h1{font-family: 'Lobster Two', cursive;
        margin-top:50px;}
        li{ margin-top:10px; }

    h2{color: gray;
    font-size: small;
        font-style: italic;}

        h3{color:black;
            font-style: italic;
            margin-top:60px;
            padding-block: 70px;
             font-family: 'Roboto Slab', serif;
             background-color:grey;}

    .nav-link:hover {
    color: #f8f9fa;}

    nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color: #b29bb3;}
    nav {font-family: 'Roboto Slab', serif;}
   
     
       
        li{color: hotpink;
            font-family: 'Roboto Slab', serif; }

            h4{color:gray;
                font-size: medium;
                margin-top: 50px;
            font-family: 'Roboto Slab', serif;} 

                h5{color:gray;
                font-size: medium;
                margin-top: 100px;
            font-family: 'Roboto Slab', serif;} 
           
            h3{margin-top:60px;}

            label{color:grey;
                font-family: 'Roboto Slab', serif; 
            }

            .href-link{color:hotpink;}


            


                  

          
      
      
